In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sur,OM,2021-10-11 21:55:01,22.5667,59.5289,81.99,48,0,4.23
1,1,Aklavik,CA,2021-10-11 21:55:02,68.2191,-135.0107,29.23,78,96,10.74
2,2,Guerrero Negro,MX,2021-10-11 21:55:03,27.9769,-114.0611,73.94,60,0,15.64
3,3,Punta Arenas,CL,2021-10-11 21:55:04,-53.1500,-70.9167,53.71,50,40,26.46
4,4,Severo-Kurilsk,RU,2021-10-11 21:55:04,50.6789,156.1250,46.04,85,95,34.29

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you 
# will get an InvalidWeightException error for this line of code: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures
# that are greater than 0 °F to a new list.
# Now change the following code in the heat_layer: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# To look like the following: heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable after removing negative values of temp
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Using list comprehension
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#Another way to generate heat map
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sur,OM,2021-10-11 21:55:01,22.5667,59.5289,81.99,48,0,4.23
10,10,Butaritari,KI,2021-10-11 21:55:08,3.0707,172.7902,81.05,73,80,10.45
12,12,Atuona,PF,2021-10-11 21:55:09,-9.8000,-139.0333,78.28,71,17,19.19
15,15,Goderich,CA,2021-10-11 21:55:10,43.7501,-81.7165,77.32,65,100,10.36
18,18,Fare,PF,2021-10-11 21:55:12,-16.7000,-151.0167,79.90,78,20,15.43
20,20,San Patricio,US,2021-10-11 21:55:13,28.0170,-97.5169,86.09,68,95,9.53
26,26,Tiarei,PF,2021-10-11 21:55:16,-17.5333,-149.3333,84.22,79,27,15.19
29,29,Biak,ID,2021-10-11 21:55:17,-0.9131,122.8766,76.68,86,92,3.18
30,30,Madaoua,NE,2021-10-11 21:55:18,14.0730,5.9600,88.93,19,84,2.98
33,33,Puerto Ayora,EC,2021-10-11 21:55:20,-0.7393,-90.3518,76.96,81,95,7.00

In [22]:
preferred_cities_df.count() #if all values counts are same then there are no null values

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0            Sur      OM     81.99  22.5667   59.5289
10    Butaritari      KI     81.05   3.0707  172.7902
12        Atuona      PF     78.28  -9.8000 -139.0333
15      Goderich      CA     77.32  43.7501  -81.7165
18          Fare      PF     79.90 -16.7000 -151.0167
20  San Patricio      US     86.09  28.0170  -97.5169
26        Tiarei      PF     84.22 -17.5333 -149.3333
29          Biak      ID     76.68  -0.9131  122.8766
30       Madaoua      NE     88.93  14.0730    5.9600
33  Puerto Ayora      EC     76.96  -0.7393  -90.3518

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sur,OM,81.99,22.5667,59.5289,Sur Plaza Hotel
10,Butaritari,KI,81.05,3.0707,172.7902,Isles Sunset Lodge
12,Atuona,PF,78.28,-9.8000,-139.0333,Villa Enata
15,Goderich,CA,77.32,43.7501,-81.7165,Harmony Inn
18,Fare,PF,79.90,-16.7000,-151.0167,Maitai Lapita Village Huahine
20,San Patricio,US,86.09,28.0170,-97.5169,"Motel 6 Sinton, TX"
26,Tiarei,PF,84.22,-17.5333,-149.3333,Le Rocher de Tahiti
29,Biak,ID,76.68,-0.9131,122.8766,Penginapan Kim
30,Madaoua,NE,88.93,14.0730,5.9600,
33,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))